// sizes
$bodyWidth: 360px;
$bodyHeight: 800px;

$btnWith: 28px;
$btnHeight: 152px;

$containerHeight: 200px;
//colors
$primary: #00c2002e;
$secondary: #329632;
$secondary-ligth: #92fe9291;
$third: #f3fed7;
$four: #ffff55;

//colors btn
$bgcTrue: rgb(215, 253, 191);
$bgcFalse: rgba(196, 248, 184, 0.546);
$colorTrue: rgb(35, 35, 35);
$colorFalse: rgb(62, 73, 47);

//fonts
$lineHeight: 64px;
$fontSize: 32px;